/* Recipe CSS*/
body {
  margin: 0;
}
h1 {
  background: #89A4F6;
  text-align: center;
  margin: 0;
}
img {
  border: 5px solid blue;
  padding: .5rem;
  width: 400px;
}
nav {
  background: #F0F8FD;
  background: rgba(0, 255, 255, 0.1);
  width: 30rem;
  margin-left: -25rem;
}
nav ul {
  padding-left: 25px;
}
nav:hover {
  margin-left: 0;
}
article {
  margin-left: 2.0rem;
}
p  a {
  font-size: 1rem;
  text-decoration: none;
  font-style: italic;
}
p a:hover {
  color: red;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
