/* Recipe CSS*/
body {
  margin: 0;
}

h1 {
  background: #89A4F6;
  text-align: center;
}
img {
  border: 5px solid blue;
  padding: .5rem;
  width: 400px;
}
nav {
  background: #F0F8FD;
  background: rgba(0, 255, 255, 0.1);
  width: 30rem;
}

article {
  margin-left: 2.0rem;
}
